{% extends "base.html.twig" %} 

{% block title %}Acceuil{% endblock %}

{% block body %}

<section id="blockbody">

    <aside id="partlist">
        <ul>
            {% for user in uses %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    </aside>
    
    <div id="blockcontent">
    
    </div>
    <nav id="blockmsg">
        <textarea id="text" placeholder="write your message there :)"></textarea>
        <input type="submit" name="valider" value="send >>" id="btsend">
    </nav>
    
</section>
    
{% endblock %}
